<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body onload="document.forms[0].submit()">
        <noscript>
            <p>
                <strong>Note:</strong>
                Since your browser does not support JavaScript,
                you must press the Continue button once to proceed.
            </p>
        </noscript>
        <form action="https://symulator.login.gov.pl/login/SingleSignOnService" method="post">
            <input type="hidden" name="SAMLRequest" value="{{envelop|safe}}"/>
            <input type="hidden" name="RelayState" value="{{relay_state|safe}}"/>
            <noscript>
                <input type="submit" value="Continue"/>
            </noscript>
        </form>
    </body>
</html>
